

    <main id="login">
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

        <div class="login-box">
            <h1>Login</h1>
            <form method="POST"> <!-- delete the action and set method to POST -->
                <label>Email</label>
                <input type="text" name="password" placeholder="Email.."> <!-- set name="" -->
                <label>Password</label>
                <input type="password" name="password" placeholder="Password.."> <!-- set name="" -->
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="/register">Register here</a></p> <!-- set href to /register -->
        </div>
    </main>
