<div class="game">
    <div class="game-img">
        <img src="/images/witcher-3.jpg">
    </div>
    <div class="game-info">
        <h1>{{name}}</h1>
        <p><span>Platform: </span>{{platform}}</p>
        <p><span>Genre: </span>{{gerne}}</p>
        <p><span>Price: </span>{{price}}</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>